$def with (form, type, feedback)

<!doctype html>

<head>
	<title>NECSTRinger</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/> 
</head>

<body>

<div id="wrapper">
	<img id="logo" src="static/logo.png">
	<h1>Campanello del NECSTLab</h1>
		
	$if feedback != None:
		<p class="$type"><h2><font color="red">$feedback</font></h2></p>

	<p>Per accedere, usa le stesse credenziali della rete del laboratorio.</p>

	<form method="POST">
		$:form.render()
	</form>
</div>

</body>

